@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  --white: white;
  --orange: orange;
  --dark: #0d1117;
  --blue-dark: #151520;
  --crimson: crimson;
  --violet: #856fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Play", sans-serif;
  color: var(--crimson);
  background-color: var(--white);
  min-height: 100vh;
}

main {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  border-bottom: 2px dashed var(--crimson);
  text-align: center;
}

section.conteiner-cards {
  margin: 3rem 0;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  margin: 2rem 0;
  background-color: var(--white);
  width: 20%;
  min-width: 30rem;
  /* border: 2px solid var(--crimson); */
  border-radius: 5% 75% 0 0/ 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(0 0 0.5rem #686868);
  overflow: hidden;
}

.card-image {
  overflow: hidden;
}

.card-image figure img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.card-image figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.card-title {
  padding: 1rem;
}

.card-title h2 {
  color: var(--crimson);
  text-align: center;
}

.card-footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: var(--crimson);
  color: var(--white);
}

.card-footer h3 a {
  text-decoration: none;
  color: var(--white);
}

@media (max-width: 791px) {
  .card {
    width: 90%;
    margin: 2rem 1rem;
  }
}

@media (max-width: 450px) {
  main {
    margin: 4rem 1rem;
  }

  section.conteiner-cards {
    margin: 3rem 0.5rem 2rem;
  }

  .card {
    min-width: 90%;
  }

  h1 {
    font-size: 2rem;
  }
}
