@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  --white: rgb(255, 255, 255);
  --white-hover: rgb(218, 218, 218);
  --crimson: rgb(255, 85, 117);
  /* --dark: #0d1117; */
  --blue-dark: rgb(21, 21, 32);
  --newbie: rgb(111, 121, 255);
  --newbie-card: rgb(43, 37, 85);
  --newbie-card-footer: rgb(31, 26, 70);
  --junior: rgb(170, 215, 66);
  --junior-card: rgb(11, 42, 23);
  --junior-card-footer: rgb(8, 32, 17);
  --intermediate: rgb(241, 182, 4);
  --intermediate-card: rgb(185, 146, 29);
  --intermediate-card-footer: rgb(138, 106, 12);
  --avanced: rgb(244, 137, 37);
  --guru: rgb(237, 44, 73);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Play", sans-serif;
  font-weight: 400;
  color: var(--crimson);
  /* background-color: var(--blue-dark); */
  background: linear-gradient(
      135deg,
      #0000 18.75%,
      var(--blue-dark) 0 31.25%,
      #0000 0
    ),
    repeating-linear-gradient(
      45deg,
      var(--blue-dark) -6.25% 6.25%,
      #181825 0 18.75%
    );
  background-size: 48px 48px;
  min-height: 100vh;
}

.main {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5rem;
}

.footer {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__p {
  font-size: 1.4rem;
}

.footer__a {
  color: var(--crimson);
  text-decoration: none;
}

.footer__a:hover {
  color: var(--guru);
}

img,
svg,
figure {
  display: block;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  text-decoration: underline var(--crimson) dashed 4px;
  text-underline-offset: 0.5rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.newbie h2 {
  color: var(--newbie);
}
.junior h2 {
  color: var(--junior);
}
.intermediate h2 {
  color: var(--intermediate);
}

h2 span {
  text-underline-offset: 0.5rem;
}
.newbie__span {
  text-decoration: underline var(--newbie) dashed 3px;
}
.junior__span {
  text-decoration: underline var(--junior) dashed 3px;
}
.intermediate__span {
  text-decoration: underline var(--intermediate) dashed 3px;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

h4 a {
  font-size: 1.5rem;
  color: var(--white);
  text-decoration: none;
}

h4 a:hover {
  color: var(--white-hover);
}

section {
  width: 100%;
  margin: 3rem 0 0;
}

.card__container {
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-content: center;
  align-items: stretch;
}

.card {
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(0 0.5rem 0.5rem #0d1117);
  overflow: hidden;
}

.card__newbie {
  background-color: var(--newbie-card);
  border: 5px dashed var(--newbie);
}
.card__junior {
  background-color: var(--junior-card);
  border: 5px dashed var(--junior);
}
.card__intermediate {
  background-color: var(--intermediate-card);
  border: 5px dashed var(--intermediate);
}

.card-image {
  overflow: hidden;
}

.card-image figure img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.card-image figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.card-title {
  padding: 1rem;
}

.junior .card-title {
  background-color: var(--junior-card);
}

.card-title h2 {
  color: var(--crimson);
  text-align: center;
}

.card-footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: end;
  color: var(--white);
  background-color: var(--newbie-card-footer);
}

.newbie .card-footer {
  color: var(--white);
  background-color: var(--newbie-card-footer);
}
.junior .card-footer {
  background-color: var(--junior-card-footer);
}
.intermediate .card-footer {
  background-color: var(--intermediate-card-footer);
}

@media (max-width: 550px) {
  .main {
    margin: 4rem 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}
