@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --green: hsl(156, 94%, 57%);
  --green-border: hsla(156, 94%, 57%, 0.35);
  --green-box: hsla(170, 94%, 57%, 0.2);
  --white: hsl(0, 0%, 100%);
  --gray-700: hsl(0, 0%, 20%);
  --gray-800: hsl(0, 0%, 12%);
  --gray-900: hsl(0, 0%, 8%);
  --black: hsl(0, 20%, 2%);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--white);
  width: 100%;
  min-height: 100dvh;
  background-color: var(--gray-900);
  display: grid;
  place-content: center;
}

img,
svg,
figure {
  display: block;
}

.profile {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__info {
  position: relative;
  width: 100%;
  max-width: 384px;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gray-800);
  background-image: radial-gradient(
    circle 248px at center,
    var(--gray-800) 0%,
    var(--gray-900) 47%,
    var(--black) 100%
  );
  /* border: 1px solid var(--green-border); */
  box-shadow: var(--green-box) 0px 0px 5px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.profile__info:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    var(--green-box),
    var(--green-border),
    var(--green)
  );
  padding: 1.5px;
  border-radius: 12px;
  animation: 8s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.profile__image {
  width: 88px;
  border-radius: 100%;
}

.profile__name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 30px;
}

.profile__location,
.profile__social-link {
  font-weight: 700;
}

.profile__location {
  color: var(--green);
  margin-top: 10px;
}

.profile__bio {
  margin-top: 30px;
}

.profile__social-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 24px;
}

.profile__social-item {
  position: relative;
  background-color: var(--gray-700);
  width: 304px;
  height: 45px;
  border-radius: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.profile__social-item:hover {
  background-color: var(--green);
}

.profile__social-link {
  color: var(--white);
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__social-item:hover .profile__social-link {
  color: var(--gray-800);
}

@media (max-width: 500px) {
  .profile__info {
    padding: 24px;
  }

  .profile__social-item {
    width: 279px;
  }
}

@media (max-width: 374px) {
  body {
    justify-content: initial;
  }

  .profile {
    padding: 0;
  }

  .profile__info {
    min-height: 100dvh;
    border-radius: 0;
    justify-content: center;
  }

  .profile__social-item {
    width: 100%;
  }
}
