:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --gray-700: hsl(0, 0%, 20%);
  --gray-800: hsl(0, 0%, 12%);
  --gray-900: hsl(0, 0%, 8%);
}

@font-face {
  font-family: "Inter", serif;
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 400, 600, 700;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--white);
  width: 100%;
  min-height: 100dvh;
  background-color: var(--gray-900);
  display: grid;
  place-content: center;
}

img,
svg,
figure {
  display: block;
}

.profile {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__info {
  width: 100%;
  max-width: 384px;
  background-color: var(--gray-800);
  border-radius: 12px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__image {
  width: 88px;
  border-radius: 100%;
}

.profile__name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 30px;
}

.profile__location,
.profile__social-link {
  font-weight: 700;
}

.profile__location {
  color: var(--green);
  margin-top: 10px;
}

.profile__bio {
  margin-top: 30px;
}

.profile__social-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 24px;
}

.profile__social-item {
  position: relative;
  background-color: var(--gray-700);
  width: 304px;
  height: 45px;
  border-radius: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.profile__social-item:hover {
  background-color: var(--green);
}

.profile__social-link {
  color: var(--white);
  text-decoration: none;
}

.profile__social-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.profile__social-item:hover .profile__social-link {
  color: var(--gray-800);
}

@media (max-width: 500px) {
  .profile__info {
    padding: 24px;
  }

  .profile__social-item {
    width: 279px;
  }
}
