@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prata&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  appearance: none;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #212121;
}

img,
svg,
figure {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
