@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --ff: "Inter", sans-serif;
  --white: #fff;
  --light-blue-100: #f3f5fc;
  --dark-blue-300: #0a3871;
  --light-gray: #d8dfe8;
  --gray-400: #495057;
  --gray-500: #343a40;
  --box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
