@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", serif;
  font-size: 18px;
  width: 100%;
  min-height: 100svh;
}

.leaflet-marker-icon.custom-marker.leaflet-zoom-animated.leaflet-interactive {
  @apply pointer-events-none;
}
