.boton {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 80px;
  width: 167px;
  color: #fff;
  background-color: #6278f7;
  border: none;
  border-radius: 10px;
  margin-top: 16px;
  cursor: pointer;
}

.boton:hover {
  color: #95ffd4;
}
