@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: hsl(148, 38%, 91%);
  min-height: 100svh;
  display: grid;
  align-items: center;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  background-size: cover;
  background-color: transparent;
  width: 18px;
  height: 18px;
  border: 2px solid hsl(186, 15%, 59%);
  border-radius: 2px;
}

input[type="checkbox"]:checked {
  border: none;
  background-image: url("https://raw.githubusercontent.com/Blackpachamame/frontendmentor/df267d2c63f9b675a04b16aa34daf58d4d4daee2/junior/contact-form/src/assets/images/icon-checkbox-check.svg");
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid rgba(128, 128, 128, 0.6);
  border-radius: 100%;
}

input[type="radio"]:checked {
  border: none;
  background-image: url("https://raw.githubusercontent.com/Blackpachamame/frontendmentor/df267d2c63f9b675a04b16aa34daf58d4d4daee2/junior/contact-form/src/assets/images/icon-radio-selected.svg");
  background-size: cover;
}
