@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: hsl(148, 38%, 91%);
  min-height: 100svh;
  display: grid;
  align-items: center;
}

/* Ocultamos el checkbox original */
.checkbox-hidden {
  display: none;
}

/* Estilo del cuadrado sin color y con borde */
.checkbox-square {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc; /* Borde gris claro */
  background-color: transparent;
  transition: background-color 0.2s, background-image 0.2s;
}

/* Cuando el checkbox está marcado, cambiamos el fondo a la imagen del check */
.checkbox-square.checked {
  background-image: url("/assets/images/icon-checkbox-check.svg"); /* Imagen cuando está marcado */
  background-size: cover;
  background-color: transparent; /* Aseguramos que el fondo sea transparente */
}
