@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --fs: "Outfit", sans-serif;
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-BG: hsl(217, 54%, 11%);
  --card-BG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fs);
  font-size: 1.8rem;
  color: var(--soft-blue);
  min-height: 100vh;
  background-color: var(--main-BG);
  display: grid;
  place-content: center;
}

img,
svg,
figure {
  display: block;
}

.main {
  display: grid;
  place-content: center;
}

.card {
  width: 35rem;
  height: 59.6rem;
  background-color: var(--card-BG);
  border-radius: 1.5rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__header {
  width: 30.2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.card_img {
  width: 100%;
}

.card__body {
  margin-top: 2.5rem;
  border-bottom: 1px solid var(--line);
}

.card__h1 {
  font-size: 2.2rem;
  color: var(--white);
}

.card__p {
  margin-top: 1.8rem;
  font-weight: 300;
  line-height: 1.4;
}

.card__info {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
}

.info__ethereum {
  color: var(--cyan);
}

.card__footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
}

.card__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.avatar__img {
  width: 3.1rem;
}

.name__p {
  margin-left: 1.5rem;
  font-size: 1.6rem;
}

.name__span {
  color: var(--white);
}
