.colaborador {
  width: 262px;
  height: 292px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
}

.colaborador .btnEliminar {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 10;
  cursor: pointer;
}

.colaborador .encabezado {
  height: 91px;
  background: #a6d157;
  border-radius: 10px 10px 0px 0px;
  position: relative;
}

.encabezado figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -13%);
}

.colaborador img {
  width: 120px;
  border-radius: 50%;
}

.colaborador .info {
  height: 201px;
  padding: 27px 31px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.colaborador .info h4 {
  font-size: 18px;
  font-weight: 600;
  color: #6278f7;
}

.colaborador .info h5 {
  font-size: 16px;
  font-weight: 400;
}

.colaborador .info .favorito {
  width: 24px;
  height: 24px;
  margin-top: 10px;
  cursor: pointer;
}
