.colaborador {
  width: 262px;
  height: 272px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
}

.colaborador .encabezado {
  background: #a6d157;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  height: 91px;
}

.encabezado figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -13%);
}

.colaborador img {
  width: 120px;
  border-radius: 50%;
}

.colaborador .info {
  height: 181px;
  padding: 27px 31px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: flex-end;
}

.colaborador .info h4 {
  color: #6278f7;
  font-size: 18px;
  font-weight: 600;
}

.colaborador .info h5 {
  font-size: 16px;
  font-weight: 400;
}
