@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Parisienne&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
  --color-sky-blue: rgb(62, 161, 219);
  --color-violet: rgb(93, 52, 236);
  --color-completada: 170, 197, 143;
  --color-delete: rgb(177, 21, 21);
  --color-white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
}

.main {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    109.6deg,
    var(--color-sky-blue) 11.2%,
    var(--color-violet) 100.2%
  );
  display: grid;
  grid-template-columns: minmax(300px, 400px);
  padding: 10px;
  place-content: center;
}

.mainCard {
  padding: 25px 25px 35px;
  background-color: var(--color-white);
  border-radius: 25px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

.inputForm {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--color-sky-blue);
  border-radius: 5px 0 0 5px;
  outline: none;
}

.btnCreate {
  padding: 12px 15px;
  background-image: linear-gradient(
    109.6deg,
    var(--color-sky-blue) 11.2%,
    var(--color-violet) 100.2%
  );
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  color: var(--color-white);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.cardsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 60vh;
  gap: 10px;
}

.card {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  -webkit-box-shadow: 0px 0px 10px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 5px;
  border-bottom: 2px solid var(--color-sky-blue);
}

.task {
  padding: 10px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: var(--color-sky-blue);
}

.completeIcon {
  color: var(--color-sky-blue);
}

.trashIcon:hover {
  color: var(--color-delete);
}

.deleteConfirmationPop {
  position: relative;
  background-color: var(--color-white);
  z-index: 99;
  width: 100%;
  top: -100px;
  left: 0;
}
.deleteSpace {
  position: relative;
  width: 30%;
}

.noTasks {
  font-size: 48px;
}

.completada {
  background-color: rgba(var(--color-completada), 0.4);
  border-bottom-color: rgb(var(--color-completada));
}
