@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

:root {
  --fs-montserrat: "Montserrat", sans-serif;
  --fs-fraunces: "Fraunces", serif;
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-cyan-hover: hsl(156, 42%, 18%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fs-montserrat);
  font-size: 1.4rem;
  color: var(--dark-grayish-blue);
  background-color: var(--cream);
  min-height: 100vh;
  display: grid;
  place-content: center;
}

img,
svg,
figure {
  display: block;
}

.card {
  width: 60rem;
  height: 45rem;
  background-color: var(--white);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 30rem 30rem;
  grid-template-rows: 45rem;
  grid-template-areas: "image info";
  overflow: hidden;
}

/* IMAGE */

.card__image {
  grid-area: image;
}

.image__img-desktop {
  width: 30rem;
}

.image__img-mobile {
  display: none;
}

/* INFO */

.card__info {
  grid-area: info;
  padding: 3.1rem 3.2rem 3.2rem;
}

.info__h2 {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.info__h1,
.price {
  font-family: var(--fs-fraunces);
}

.info__h1 {
  color: var(--very-dark-blue);
  font-size: 3.1rem;
  line-height: 1.06;
  margin-top: 2.1rem;
}

.info__p {
  margin-top: 2.1rem;
  line-height: 1.63;
}

.info__price {
  display: flex;
  align-items: center;
  margin-top: 2.7rem;
}

.price {
  font-size: 3.2rem;
  color: var(--dark-cyan);
}

.price-off {
  margin-left: 2.5rem;
  font-size: 1.3rem;
  text-decoration: line-through;
}

.info__button {
  width: 100%;
  margin-top: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fs-montserrat);
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 1rem;
  padding: 1.6rem;
  cursor: pointer;
}

.info__button:hover {
  background-color: var(--dark-cyan-hover);
}

.button__img {
  margin-right: 1.1rem;
}

/* MEDIA QUERYS */
@media (max-width: 652px) {
  body {
    font-size: 1.3rem;
    margin: 5rem 0;
  }

  .card {
    width: 34.3rem;
    height: 61.1rem;
    grid-template-columns: 34.3rem;
    grid-template-rows: 24rem 37.1rem;
    grid-template-areas:
      "image"
      "info";
  }

  .image__img-desktop {
    display: none;
  }

  .image__img-mobile {
    display: block;
    width: 34.3rem;
  }

  .card__info {
    padding: 2.3rem;
  }

  .info__h2 {
    font-size: 1.3rem;
  }

  .info__h1 {
    margin-top: 1.3rem;
  }

  .info__p {
    margin-top: 1.5rem;
    line-height: 1.7;
  }

  .info__price {
    margin-top: 4.5rem;
  }

  .info__button {
    margin-top: 1.6rem;
    border-radius: 0.8rem;
  }
}
