@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --fs: "Overpass", sans-serif;
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fs);
  font-size: 1.5rem;
  color: var(--orange);
  min-height: 100vh;
  background-color: var(--very-dark-blue);
  display: grid;
  place-content: center;
}

img,
svg,
figure {
  display: block;
}

ul li {
  list-style: none;
}

.main {
  display: grid;
  place-content: center;
}

.card {
  width: 41.2rem;
  height: 41.6rem;
  background: radial-gradient(
    at top,
    rgb(38, 42, 54),
    rgb(30, 37, 47),
    rgb(27, 34, 45),
    rgb(22, 29, 39)
  );
  border-radius: 2rem;
  padding: 3rem;
}

/* Rating state */
.card__figure-star {
  width: 4.6rem;
  height: 4.6rem;
  background-color: var(--dark-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__h1 {
  color: var(--white);
  font-size: 2.78rem;
  margin-top: 3.5rem;
}

.card__p {
  color: var(--light-grey);
  line-height: 1.5;
  margin-top: 1rem;
}

.card__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.card__li {
  width: 5.2rem;
  height: 5.2rem;
  font-weight: 700;
  color: var(--medium-grey);
  background-color: var(--dark-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.card__li:hover {
  color: var(--white);
  background-color: var(--orange);
}

.card__button {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--white);
  background-color: var(--orange);
  padding: 1.5rem;
  border-radius: 3rem;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.card__button:hover {
  color: var(--orange);
  background-color: var(--white);
}

/* Thank you state */
.card.card-rating {
  display: none;
}

.card.card-rating {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 15px;
  padding: 4.5rem 3.5rem;
}

.card__rating {
  border-radius: 3rem;
  background: var(--dark-blue);
  padding: 0.7rem 1.8rem 0.5rem;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
