@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins"),
    url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: local("Poppins"),
    url("../assets/fonts/Poppins-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins"),
    url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: local("Poppins"),
    url("../assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: local("Poppins"),
    url("../assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: local("Poppins"),
    url("../assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--off-white);
  min-height: 100dvh;
  display: grid;
  place-content: center;
}

.main {
  background-color: var(--white);
  width: 60rem;
  min-height: 46.6rem;
  border-radius: 16px 16px 145px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 3.9rem 3.6rem;
}

.data {
  color: var(--smokey-grey);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
  display: flex;
  gap: 2.2rem;
}

.data__container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.data__label {
  font-size: 1rem;
  letter-spacing: 2px;
}

.data__input {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  width: 11.6rem;
  height: 5.3rem;
  padding: 1.6rem;
  border-radius: 6px;
  border: 1px solid var(--light-grey);
  transition: all 0.5s ease-out;
}

.data__input:focus {
  border-color: var(--purple);
  outline: none;
}

.data__error {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: var(--light-red);
  text-transform: initial;
  visibility: hidden;
}

.submit {
  position: relative;
}

.submit__hr {
  border: 1px solid var(--light-grey);
}

.submit__button {
  width: 6.9rem;
  height: 6.9rem;
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: -33px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.submit__button:hover {
  background-color: var(--off-black);
}

.submit__button img {
  width: 3.4rem;
}

.info__ul {
  padding: 0;
}

.info__li {
  font-size: 7rem;
  font-weight: 800;
  font-style: italic;
  line-height: 1.2;
  list-style: none;
}

.info__span {
  color: var(--purple);
  letter-spacing: 7px;
}

@media (max-width: 625px) {
  body {
    margin-inline: 1rem;
  }

  .main {
    width: 100%;
    min-height: 46.6rem;
    border-radius: 16px 16px 145px 16px;
    padding: 5rem 2.4rem 4rem;
  }

  .data {
    gap: 1.6rem;
  }

  .data__input {
    font-size: 1.6rem;
    width: 100%;
  }

  .info__li {
    font-size: 5rem;
  }

  .submit__button {
    width: 6.3rem;
    height: 6.3rem;
    top: -31px;
    right: 50%;
    transform: translateX(50%);
  }

  .submit__button img {
    width: 2.6rem;
  }
}
