* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 2rem;
  background: linear-gradient(111.8deg, #2b2f53 16.5%, #1d1c34 77.09%);
}

img,
svg,
figure {
  display: block;
}

.main {
  padding: 4rem;
}

.logos,
.btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logoDefault {
  width: 46px;
  height: 46px;

  /* Colors */
  background: radial-gradient(
      109.99% 253.12% at 76.68% 66.67%,
      rgba(96, 46, 166, 0.2) 0%,
      rgba(201, 119, 214, 0.2) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-blend-mode: overlay;
  background: linear-gradient(
    35.22deg,
    #ffffff 33.61%,
    rgba(255, 255, 255, 0.5) 89.19%
  );

  /* Bordes */
  border: 1px solid;
  border-image-source: linear-gradient(
    35.22deg,
    #ffffff 33.61%,
    rgba(255, 255, 255, 0.5) 89.19%
  );

  background: radial-gradient(
      109.99% 253.12% at 76.68% 66.67%,
      rgba(96, 46, 166, 0.2) 0%,
      rgba(201, 119, 214, 0.2) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  /* Auto layout */
  margin-top: 4rem;
  display: flex;
  padding: 20px;
  gap: 20px;
  border: 1px dashed #9747ff;
  border-radius: 5px;
  position: relative;
}

.btn-1 {
  padding: 13px 60px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 48.05%,
      rgba(255, 255, 255, 0.2) 48.9%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) -19.57%,
      #ffffff 98.8%,
      rgba(255, 255, 255, 0.222222) 130.43%
    );
  filter: drop-shadow(0px 14px 20px rgba(0, 0, 0, 0.5));
  border-radius: 1rem;
  position: relative;
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.433075) 24.33%,
    rgba(0, 0, 0, 0.3) 76.35%
  );
}

.sparkers {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  background: radial-gradient(
      109.99% 253.12% at 76.68% 66.67%,
      #602ea6 0%,
      #c977d6 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-blend-mode: overlay;
  /* background: linear-gradient(
    35.22deg,
    #ffffff 33.61%,
    rgba(255, 255, 255, 0.5) 89.19%
  ); */
  border: 1px solid;
  position: relative;
  border-image-source: linear-gradient(
    35.22deg,
    #ffffff 33.61%,
    rgba(255, 255, 255, 0.5) 89.19%
  );
  box-shadow: 0px 0px 30px 0px rgba(118, 61, 176, 1);
}

.img-sparkers {
  position: absolute;
  left: 26.56%;
  right: 25%;
  top: 28.12%;
  bottom: 26.56%;

  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-blend-mode: overlay;
  mix-blend-mode: normal;
}

.sparkers-algo {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 100%;
  bottom: -100%;

  background: radial-gradient(
      109.99% 253.12% at 76.68% 66.67%,
      #602ea6 0%,
      #c977d6 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  box-shadow: 0px 0px 30px 0px #763db0;
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
