* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 2rem;
  background: linear-gradient(111.8deg, #2b2f53 16.5%, #1d1c34 77.09%);
}

img,
svg,
figure {
  display: block;
}

.main {
  padding: 4rem;
}

.logos {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logoDefault {
  width: 46px;
  height: 46px;

  /* Colors */
  background: radial-gradient(
      109.99% 253.12% at 76.68% 66.67%,
      rgba(96, 46, 166, 0.2) 0%,
      rgba(201, 119, 214, 0.2) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-blend-mode: overlay;
  background: linear-gradient(
    35.22deg,
    #ffffff 33.61%,
    rgba(255, 255, 255, 0.5) 89.19%
  );

  /* Bordes */
  border: 1px solid;
  border-image-source: linear-gradient(
    35.22deg,
    #ffffff 33.61%,
    rgba(255, 255, 255, 0.5) 89.19%
  );

  background: radial-gradient(
      109.99% 253.12% at 76.68% 66.67%,
      rgba(96, 46, 166, 0.2) 0%,
      rgba(201, 119, 214, 0.2) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  margin-top: 2rem;
}

.btn-1 {
  padding: 13px 60px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 48.05%,
      rgba(255, 255, 255, 0.2) 48.9%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) -19.57%,
      #ffffff 98.8%,
      rgba(255, 255, 255, 0.222222) 130.43%
    );
  filter: drop-shadow(0px 14px 20px rgba(0, 0, 0, 0.5));
  border-radius: 1rem;
  position: relative;
  border: none;
}

.btn-1::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.433075) 24.29%,
    rgba(0, 0, 0, 0.3) 76.35%
  );
  border-radius: inherit;
}
