@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Figtree", serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--gray-950);
  min-height: 100dvh;
  background-color: var(--yellow);
  display: grid;
  place-content: center;
}

img,
svg,
figure {
  display: block;
}

.article {
  position: relative;
  background-color: var(--white);
  padding: 23px;
  margin: 25px;
  max-width: 382px;
  height: 520px;
  border-radius: 18px;
  border: 1px solid var(--gray-950);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.15rem;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s ease-in-out;
}

.article:hover {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.article__header {
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}

.article__header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__category,
.article__author-name {
  font-size: 1.4rem;
  font-weight: 800;
}

.article__category {
  background-color: var(--yellow);
  padding: 0.6rem 1.25rem;
  border-radius: 4px;
  display: inline-block;
}

.article__date {
  font-size: 1.4rem;
  margin-top: 1.4rem;
}

.article__title {
  font-size: 2.4rem;
  font-weight: 800;
  margin-top: 1.7rem;
}

.article__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

/* Usamos un pseudo-elemento para hacer toda la tarjeta clickeable */
.article__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.article__link:hover {
  color: var(--yellow);
  cursor: pointer;
}

.article__description {
  line-height: 1.5;
  color: var(--gray-500);
  margin-top: 1.7rem;
}

.article__author {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

@media (max-width: 445px) {
  .article {
    height: auto;
  }

  .article__title {
    font-size: 2rem;
  }

  .article__description {
    font-size: 1.4rem;
  }

  .article__category,
  .article__date {
    font-size: 1.3rem;
  }
}
