.footer {
  width: 100%;
  padding: 75px 130px;
  background-image: url(../../../public/img/footer.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.footer p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.redes {
  display: flex;
  align-items: center;
  gap: 29px;
}

@media (max-width: 932px) {
  .footer {
    background-color: #6278f7;
    background-image: none !important;
    padding: 50px 30px;
    text-align: center;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .footer {
    text-align: initial;
    align-items: flex-start;
  }
}
