@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  /* Fonts */
  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;
  /* Primary */
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  /* Neutral */
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--very-dark-cyan);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: var(--ff-headings);
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

button {
  cursor: pointer;
}

.main {
  margin: 12rem 0;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

/* HEADER */
.header {
  width: 100%;
  padding: 8rem 6rem 8rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  padding: 0.8rem 3.1rem;
  color: var(--pink);
  border: 1px solid var(--pink);
  border-radius: 4rem;
  background-color: var(--white);
  box-shadow: 0px 0px 10px 1px rgba(255, 82, 191, 0.19);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 82, 191, 0.19);
  -moz-box-shadow: 0px 0px 10px 1px rgba(255, 82, 191, 0.19);
}

.header__button:hover {
  color: var(--light-pink);
  border: 1px solid var(--light-pink);
  box-shadow: 0px 0px 10px 1px rgba(255, 143, 216, 0.19);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 143, 216, 0.19);
  -moz-box-shadow: 0px 0px 10px 1px rgba(255, 143, 216, 0.19);
}

/* STARTED & BUILD */
section.started {
  margin: 0 12rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.build {
  margin: 3rem 0;
  text-align: center;
}

.started__h1 {
  font-size: 4.5rem;
  font-family: var(--ff-headings);
  font-weight: 700;
  margin-bottom: 3rem;
}

.started__p {
  width: 575px;
  font-size: 1.8rem;
  margin-bottom: 5rem;
}

.started__button,
.build__button {
  color: var(--white);
  background-color: var(--pink);
  padding: 2.8rem 11rem;
  font-size: 1.8rem;
  font-weight: 700;
  border: 0;
  border-radius: 4rem;
  margin-bottom: 3rem;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.31);
}

.build__button {
  margin-top: 2rem;
}

.started__button:hover,
.build__button:hover {
  background-color: var(--light-pink);
}

.started__figure {
  width: 80%;
  margin: 8rem 0 0;
}

/* DATA */
section.data {
  margin: 0 12rem;
  display: flex;
  justify-content: space-around;
}

.communities,
.mesagges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.communities__p,
.mesagges__p {
  margin-left: -0.4rem;
  font-size: 9.5rem;
  font-weight: 800;
  text-align: center;
}

.communities__span,
.mesagges__span {
  margin: 1rem 0 0 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  display: block;
  opacity: 50%;
}

/* GROW & CONVERSATIONS */
.grow__container,
.users__container {
  background-color: var(--very-pale-blue);
}

.grow__container,
.conversations__container,
.users__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 5rem;
  justify-content: space-evenly;
}

.grow__figure,
.conversations__figure,
.users__figure,
.grow__container-text,
.conversations__container-text,
.users__container-text {
  padding: 0 7rem;
}

/* FOOTER */

.footer__container {
  color: var(--white);
  background-color: var(--very-dark-cyan);
  display: grid;
  grid-template-columns: 375px 605px;
  align-items: flex-start;
  padding: 5rem 0;
  justify-content: space-around;
}

.footer__logo {
  filter: brightness(0) invert(1);
}

.contact__p,
.newsletter__p {
  width: 350px;
  margin: 3rem 0;
  line-height: 1.7;
  font-size: 1.5rem;
}

.contact__phone,
.contact__email {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 2rem;
}

.contact__social {
  margin: 8rem 0 5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact__social i {
  font-size: 3.5rem;
  margin-right: 2.4rem;
}

.fa-square-facebook:hover {
  color: hsl(221, 44%, 41%);
}
.fa-instagram:hover {
  color: hsl(319, 71%, 49%);
}
.fa-square-twitter:hover {
  color: hsl(197, 100%, 47%);
}

.subscribe {
  display: grid;
  grid-template-columns: 32rem 16rem;
  grid-template-rows: 4.8rem 1.5rem;
  gap: 0.5rem 3.8rem;
}

.subscribe__button {
  width: 16rem;
  height: 4.8rem;
  color: var(--white);
  background-color: var(--pink);
  font-weight: 600;
  border: 0;
  border-radius: 0.5rem;
  order: 2;
}

.subscribe__button:hover {
  background-color: var(--light-pink);
}

.subscribe__input {
  width: 32rem;
  height: 4.8rem;
  padding-left: 1.5rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  order: 1;
}

.subscribe__input:focus {
  outline: none;
  border: 1px solid var(--blue);
}

.subscribe__input-error {
  margin-bottom: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: var(--light-red);
  color: var(--light-red);
}

.form__errorEmail {
  visibility: hidden;
  width: 32rem;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  color: var(--light-red);
  order: 3;
}

figure[class*="mobile"] {
  display: none;
}

/* MEDIA QUERYS */
@media (max-width: 1024px) {
  .footer__container {
    grid-template-columns: repeat(2, 32rem);
  }

  .contact__p,
  .newsletter__p {
    width: 300px;
    font-size: 1.4rem;
  }

  .subscribe {
    display: grid;
    grid-template-columns: 32rem;
    grid-template-rows: repeat(2, 4.8rem);
    gap: 1rem;
  }

  .form__errorEmail {
    display: none;
    order: 2;
  }

  .subscribe__button {
    justify-self: flex-end;
    order: 3;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
  .header {
    padding: 2.4rem 2.4rem 0;
  }

  .header__button {
    padding: 0.4rem 1.7rem;
    font-size: 1rem;
  }

  img.header__logo {
    height: 1.8rem;
    width: auto;
  }

  .main {
    gap: 5rem;
  }

  section.started {
    margin: 0;
  }

  .started__h1 {
    font-size: 2.5rem;
    margin: 0 2.8rem 3rem;
  }

  .started__p {
    width: 300px;
    font-size: 1.4rem;
  }

  .started__button,
  .build__button {
    padding: 1.2rem 4rem;
    font-size: 1.2rem;
  }

  section.data {
    flex-direction: column;
    align-items: center;
    margin: 8rem 0 0;
    gap: 10rem;
  }

  .communities img {
    width: 3rem;
  }
  .mesagges img {
    width: 2.5rem;
  }

  .communities__p {
    font-size: 6rem;
  }

  .mesagges__p {
    font-size: 5rem;
  }

  .communities__span,
  .mesagges__span {
    margin: 1rem 0 0;
    font-size: 1.5rem;
  }

  .grow__container,
  .conversations__container,
  .users__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;
    padding: 0;
  }

  .grow__container {
    padding: 8rem 0 0;
  }

  .grow__container-text,
  .users__container-text {
    order: 2;
  }

  .grow__figure,
  .conversations__figure,
  .users__figure,
  .grow__container-text,
  .conversations__container-text,
  .users__container-text {
    text-align: center;
    padding: 0 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  .build__h2 {
    font-size: 2.5rem;
    line-height: initial;
  }

  h3 {
    font-size: 2rem;
  }

  section.conversations {
    margin-top: 8rem;
  }

  section.build {
    margin: 3rem 0 8rem;
  }

  .footer__container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 375px;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 4rem 0 0;
  }
}

@media (max-width: 375px) {
  figure[class*="desktop"] {
    display: none;
  }

  figure[class*="mobile"] {
    display: block;
  }

  .footer__logo {
    height: 3.2rem;
  }

  .contact {
    order: 2;
  }

  .contact,
  .newsletter {
    padding: 0 2.8rem;
  }

  .contact__p {
    margin: 1.6rem 0 4.5rem;
  }

  .contact__social {
    margin: 5rem 0;
  }

  .contact__social i {
    font-size: 2.5rem;
  }
}
