@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
  --font-family: "Raleway", sans-serif;
  --color-texto: #464646;
  --color-texto-hover: #000000;
  --color-fondo: #f5f5f5;
  --color-iconos: #2a7ae4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-texto);
  background-color: var(--color-fondo);
}

img,
svg,
figure {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.fa-2xl {
  color: var(--color-iconos);
}

/*Sección Menu*/

header.menu {
  margin: 0 15.2rem;
  padding: 3.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

h3.menu__title {
  font-weight: 700;
}

.menu__list {
  display: flex;
  gap: 3.2rem;
}

.menu__list__item a {
  color: var(--color-texto);
  font-weight: 500;
}
.menu__list__item a:hover {
  color: var(--color-texto-hover);
}

.menu__list__item:nth-last-child(1) a {
  font-weight: 700;
}

/*Sección Title*/

section.title {
}

/*Sección About*/

section.about {
}

/*Sección Hobbies*/

section.hobbies {
}

/* Experiencia Académica*/

section.academic {
}

/* experiencia*/

section.experience {
}

/*Contacto*/

section.formcontato {
}

/*footeer*/

section.footer {
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {
  /* Menú */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sección sobre mi*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}
