@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --fs: "Poppins", sans-serif;
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fs);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white);
  min-height: 100vh;
  background: url(../images/bg-intro-desktop.png) repeat, var(--red);
  display: grid;
  place-content: center;
}

img,
figure,
svg {
  display: block;
}

.container {
  padding: 12rem 16.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 55.8rem; */
  grid-template-areas: "header form";
}

/* HEADER */
.header {
  grid-area: header;
}

.header__h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2.8rem;
}

.header__p {
  line-height: 1.6;
}

/* FORM */
.main {
  grid-area: form;
}

.main__free {
  width: 54rem;
  padding: 1.9rem 1.5rem 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--blue);
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
}

.span__free {
  font-weight: 600;
}

.form {
  width: 54rem;
  padding: 4rem;
  background-color: var(--white);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
}

.form__input {
  width: 100%;
  padding: 1.9rem 1.5rem 1.5rem 3rem;
  margin-bottom: 2rem;
  font-family: var(--fs);
  font-weight: 600;
  color: var(--dark-blue);
  border: 1px solid rgb(222 222 222);
  border-radius: 0.5rem;
}

.form__input:focus {
  outline: none;
  border: 1px solid var(--blue);
}

.form__input-error {
  margin-bottom: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: var(--red);
  color: var(--red);
  background: url(../images/icon-error.svg) 40.5rem center no-repeat,
    transparent;
  position: relative;
}

.form__errorFirstName,
.form__errorLastName,
.form__errorEmail,
.form__errorPassword {
  display: none;
  width: 100%;
  text-align: end;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-style: italic;
  color: var(--red);
}

.form__button {
  width: 100%;
  padding: 2.2rem 2rem 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 4px 0px 0px rgb(62, 179, 127);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(62, 179, 127);
  -moz-box-shadow: 0px 4px 0px 0px rgb(62, 179, 127);
}

.form__button:hover {
  background-color: rgb(119 226 180);
  box-shadow: 0px 4px 0px 0px rgb(116 201 162);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(116 201 162);
  -moz-box-shadow: 0px 4px 0px 0px rgb(116 201 162);
}

.form__p {
  color: var(--grayish-blue);
  font-size: 1.1rem;
}

.form__span {
  font-weight: 700;
  color: var(--red);
}

@media (max-width: 1023px) {
  body {
    font-size: 1.6rem;
    text-align: center;
    background: url(../images/bg-intro-mobile.png) repeat, var(--red);
  }

  .container {
    padding: 10rem 2rem 6rem;
    grid-template-columns: 40rem;
    grid-template-areas:
      "header"
      "form";
    gap: 6.2rem;
  }

  .header__h1 {
    font-size: 3.5rem;
  }

  .main__free {
    width: 40rem;
    padding: 1.9rem 5rem;
    margin-bottom: 2.4rem;
  }

  .form {
    width: 40rem;
    padding: 2.4rem;
  }

  .form__input {
    padding: 1.9rem 1.5rem 1.5rem 1.9rem;
    margin-bottom: 1.6rem;
  }

  .form__input-error {
    margin-bottom: 0.5rem;
  }

  .form__button {
    margin-bottom: 1.3rem;
  }

  .form__p {
    padding: 0 4rem;
    line-height: 1.9;
  }
}

@media (max-width: 425px) {
  .container {
    grid-template-columns: 32.7rem;
  }

  .header__h1 {
    font-size: 2.8rem;
    line-height: 1.3;
    font-weight: 600;
  }

  .main__free {
    width: 32.7rem;
  }

  .form {
    width: 32.7rem;
  }

  .form__p {
    padding: 0 2rem;
  }
}
