@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
  --font-family: "Raleway", sans-serif;
  --color-text: #464646;
  --color-text-hover: rgb(0, 0, 0);
  --color-background: #f5f5f5;
  /* --color-background-hover: #dddddd; */
  --color-background-info: #eaf2fd;
  --color-white: rgb(255, 255, 255);
  --color-blue: #2a7ae4;
  --color-blue-hover: #1864c9;
  --color-text-label: #a2a2a2;
  --color-border-input: #c8c8c8;
  --color-warning: rgb(215, 16, 16);
  --color-valid: rgb(79, 183, 55);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

img,
svg,
figure {
  display: block;
  max-width: 100%;
}

ol,
ul,
li {
  list-style: none;
}

button {
  padding: 1rem;
  cursor: pointer;
}

h3 {
  font-weight: 700;
}

a {
  color: var(--color-blue);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: var(--color-blue-hover);
}

/* HEADER */

/* Navbar */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.header__nav {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.header__nav-container {
  background-color: var(--color-white);
  display: flex;
  width: 71rem;
  padding: 2rem 0rem;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__nav-search {
  width: 24.5625rem;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__search {
  font-size: 0.875rem;
  background: inherit;
  border: none;
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  outline: none;
}
.header__search::placeholder {
  color: var(--color-text-label);
}

.header__btn-login {
  width: 11.375rem;
  color: var(--color-blue);
  background-color: transparent;
  padding: 1rem;
  border: 1px solid var(--color-blue);
}

/* Banner */
.header__banner {
  display: flex;
  height: 22rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 41.15%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../images/banner.jpg), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title-container {
  color: var(--color-white);
  display: flex;
  width: 71rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}

.header__title {
  font-size: 3.25rem;
  font-weight: 700;
}

.header__text {
  font-size: 1.375rem;
  font-weight: 700;
}

.header__btn-ver-consolas,
.info__btn-submit {
  color: var(--color-white);
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  padding: 1rem;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

/* Info */
.info {
  background-color: var(--color-background-info);
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.info__container {
  display: flex;
  width: 71rem;
  align-items: flex-start;
  gap: 7rem;
}

.info__list {
  font-weight: 500;
  display: flex;
  width: 11rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;
}

.info__list-item a {
  color: var(--color-text);
  font-weight: 500;
}

.info__list-item a:hover {
  color: var(--color-text-hover);
}

.info__contacto {
  display: flex;
  width: 35rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex-shrink: 0;
}

.info__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.info__input-wrapper {
  --padding: 0.75rem;
  position: relative;
  width: 100%;
  display: flex;
}

.info__input,
.info__textarea {
  font-size: 1rem;
  height: 3.5rem;
  padding: 1.75rem 0.75rem 0.25rem;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 0.25rem;
  border: none;
  border-bottom: 2px solid var(--color-border-input);
  outline: none;
}

.info__textarea {
  height: 5.125rem;
  resize: none;
  overflow: hidden;
}

.info__label,
.info__label-textarea {
  position: absolute;
  color: var(--color-text-label);
  top: 1.1rem;
  left: var(--padding);
  transition: all 0.2s ease-in;
}

.info__input:is(:focus),
.info__textarea:is(:focus) {
  border-bottom: 2px solid var(--color-blue);
}

.info__input:is(:focus, :valid) + .info__label,
.info__textarea:is(:focus, :valid) + .info__label-textarea {
  transform: translateY(calc(-1 * var(--padding) + 5px));
  font-size: 0.75rem;
  color: var(--color-blue);
}

/* Validaciones */

/* Invalido */
.input-container--invalid .info__input,
.input-container--invalid .info__textarea {
  border-bottom: 2px solid var(--color-warning);
}

.input-container--invalid > .info__input:is(:invalid) + .info__label,
.input-container--invalid
  > .info__textarea:is(:invalid)
  + .info__label-textarea {
  transform: translateY(calc(-1 * var(--padding) + 5px));
  font-size: 0.75rem;
  color: var(--color-warning);
}

.info__input-message-error {
  font-size: 0.75rem;
  visibility: hidden;
  margin-top: 1rem;
  padding-left: 0.75rem;
}

.input-container--invalid .info__input-message-error {
  color: var(--color-warning);
  visibility: visible;
}

/* Valido */
.info__input:is(:valid),
.info__textarea:is(:valid) {
  border-bottom: 2px solid var(--color-valid);
}

.info__input:is(:valid) + .info__label,
.info__textarea:is(:valid) + .info__label-textarea {
  color: var(--color-valid);
}

/* Creditos */
.creditos {
  font-weight: 500;
  background-color: var(--color-white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
