* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
}

img,
svg,
figure {
  display: block;
  max-width: 100%;
}

ol,
ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}
