@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
  --font-family: "Raleway", sans-serif;
  --color-text: #464646;
  --color-text-hover: rgb(0, 0, 0);
  --color-background: #f5f5f5;
  --color-background-hover: #dddddd;
  --color-background-info: #eaf2fd;
  --color-white: rgb(255, 255, 255);
  --color-blue: #2a7ae4;
  --color-blue-hover: #1864c9;
  --color-text-label: #a2a2a2;
  --color-border-input: #c8c8c8;
  --color-warning: rgb(215, 16, 16);
  --color-valid: rgb(79, 183, 55);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text);
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img,
svg,
figure {
  display: block;
  max-width: 100%;
}

ol,
ul,
li {
  list-style: none;
}

button {
  padding: 1rem;
  cursor: pointer;
  background: inherit;
  border: none;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-weight: 700;
}
h4 {
  font-size: 0.875rem;
  font-weight: 500;
}

a {
  color: var(--color-blue);
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: var(--color-blue-hover);
}

/* HEADER */

/* Navbar */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.header__nav {
  background-color: var(--color-white);
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.header__nav-container {
  width: 100%;
  max-width: 71rem;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__nav-search {
  width: 24.5625rem;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__search {
  font-size: 0.875rem;
  background: inherit;
  border: none;
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  outline: none;
}
.header__search::placeholder {
  color: var(--color-text-label);
}

.header__login,
.header__ver-consolas,
.productos__agregar-producto,
.productos__agregar-producto-mobile,
.usuarios__agregar-usuario,
.usuarios__agregar-usuario-mobile {
  font-weight: 400;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productos__agregar-producto-mobile,
.usuarios__agregar-usuario-mobile {
  padding: 0.2rem;
  border-radius: 50%;
  display: none;
}

.header__login,
.header__btn-menu {
  color: var(--color-blue);
  background-color: transparent;
  border: 1px solid var(--color-blue);
  transition: all 0.5s ease;
}
.header__login {
  width: 11.375rem;
}

.header__login:hover {
  color: var(--color-white);
  background-color: var(--color-blue-hover);
  border: 1px solid var(--color-blue-hover);
}

.header__btn-search {
  padding: 0;
}

.header__btn-search-mobile {
  display: none;
}

/* Banner */
.header__banner {
  display: flex;
  height: 22rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%),
    url(../images/banner.webp), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title-container {
  color: var(--color-white);
  width: 100%;
  padding-left: 7.4375rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}

.header__title {
  font-size: 3.25rem;
  font-weight: 700;
}

.header__text {
  font-size: 1.375rem;
  font-weight: 700;
}

.header__ver-consolas,
.info__btn-contacto,
.login__btn-submit,
.agregar__btn-submit,
.productos__agregar-producto,
.productos__agregar-producto-mobile,
.usuarios__agregar-usuario,
.usuarios__agregar-usuario-mobile {
  color: var(--color-white);
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  transition: all 0.5s ease;
}

.header__ver-consolas:hover,
.info__btn-contacto:hover,
.login__btn-submit:hover,
.agregar__btn-submit:hover,
.productos__agregar-producto:hover,
.productos__agregar-producto-mobile:hover,
.usuarios__agregar-usuario:hover,
.usuarios__agregar-usuario-mobile:hover {
  color: var(--color-white);
  background-color: var(--color-blue-hover);
  border: 1px solid var(--color-blue-hover);
}

/* MAIN */
a[class$="ver-mas"] {
  color: var(--color-blue);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.5s ease;
}

a[class$="ver-mas"]:hover {
  color: var(--color-blue);
}

a[class$="ver-mas"]::before {
  content: "";
  position: absolute;
  width: 68%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--color-blue);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a[class$="ver-mas"]:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.main {
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.starwars,
.consolas,
.diversos,
.productos,
.busqueda,
.usuarios,
.detalles,
.similares {
  width: 100%;
  max-width: 71rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.productos__container-title,
.usuarios__container-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productos__container-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(156px, 176px));
  /* justify-content: space-between; */
  gap: 4rem 1rem;
}

.productos__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.productos__figure {
  width: 100%;
  overflow: hidden;
  position: relative;
}

img[class$="card-img"] {
  width: 100%;
  height: 174px;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.productos__card .productos__figure:hover img[class$="card-img"] {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

/* Info */
.info {
  background-color: var(--color-background-info);
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.info__container {
  width: 100%;
  max-width: 71rem;
  display: flex;
  align-items: flex-start;
  gap: 7rem;
}

.info__container-list {
  width: 100%;
  max-width: 29rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info__list {
  font-weight: 500;
  display: flex;
  width: 11rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;
}

.info__list-item a {
  color: var(--color-text);
  font-weight: 500;
}

.info__list-item a:hover {
  color: var(--color-text-hover);
}

.info__contacto {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.info__input-container,
.login__input-container,
.agregar__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.6rem;
}

.info__input-wrapper,
.login__input-wrapper,
.agregar__input-wrapper {
  --padding: 0.75rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info__input,
.info__textarea,
.login__input,
.agregar__input,
.agregar__textarea,
.agregar__select {
  font-size: 1rem;
  height: 3.5rem;
  padding: 1.75rem 0.75rem 0.25rem;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 0.25rem;
  border: none;
  border-bottom: 2px solid var(--color-border-input);
  outline: none;
}

.agregar__select {
  padding: 0 0.5rem;
}

.info__textarea,
.agregar__textarea {
  height: 5.125rem;
  resize: none;
  overflow: hidden;
}

.info__label,
.info__label-textarea,
.login__label,
.agregar__label,
.agregar__label-textarea {
  position: absolute;
  color: var(--color-text-label);
  top: 1.1rem;
  left: var(--padding);
  transition: all 0.2s ease-in;
}

.info__input:is(:focus),
.info__textarea:is(:focus),
.login__input:is(:focus),
.agregar__input:is(:focus),
.agregar__textarea:is(:focus),
.agregar__select:is(:focus) {
  border-bottom: 2px solid var(--color-blue);
}

.info__input:is(:focus, :valid) + .info__label,
.info__textarea:is(:focus, :valid) + .info__label-textarea,
.login__input:is(:focus, :valid) + .login__label,
.agregar__input:is(:focus, :valid) + .agregar__label,
.agregar__textarea:is(:focus, :valid) + .agregar__label-textarea {
  transform: translateY(calc(-1 * var(--padding) + 5px));
  font-size: 0.75rem;
  color: var(--color-blue);
}

/* Validaciones */

/* Invalido */
.input-container--invalid .info__input,
.input-container--invalid .info__textarea,
.input-container--invalid .login__input,
.input-container--invalid .agregar__input,
.input-container--invalid .agregar__textarea,
.input-container--invalid .agregar__select {
  border-bottom: 2px solid var(--color-warning);
}

.input-container--invalid > .info__input:is(:invalid) + .info__label,
.input-container--invalid
  > .info__textarea:is(:invalid)
  + .info__label-textarea,
.input-container--invalid > .login__input:is(:invalid) + .login__label,
.input-container--invalid > .agregar__input:is(:invalid) + .agregar__label,
.input-container--invalid
  > .agregar__textarea:is(:invalid)
  + .agregar__label-textarea {
  transform: translateY(calc(-1 * var(--padding) + 5px));
  font-size: 0.75rem;
  color: var(--color-warning);
}

.input-message-error {
  font-size: 0.75rem;
  visibility: hidden;
  padding-left: 0.75rem;
  margin-top: 3px;
}

.input-container--invalid .input-message-error {
  color: var(--color-warning);
  visibility: visible;
}

/* Valido */
.info__input:is(:valid),
.info__textarea:is(:valid),
.login__input:is(:valid),
.agregar__input:is(:valid),
.agregar__textarea:is(:valid),
.agregar__select:is(:valid) {
  border-bottom: 2px solid var(--color-valid);
}

.info__input:is(:valid) + .info__label,
.info__textarea:is(:valid) + .info__label-textarea,
.login__input:is(:valid) + .login__label,
.agregar__input:is(:valid) + .agregar__label,
.agregar__textarea:is(:valid) + .agregar__label-textarea {
  color: var(--color-valid);
}

/* Creditos */
.creditos {
  font-weight: 500;
  background-color: var(--color-white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

/* LOGIN - AGREGAR */
.login,
.agregar {
  width: 100%;
  padding: 5.75rem;
  display: flex;
  justify-content: center;
}

.login__container,
.agregar__container {
  width: 26.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login__btn-submit,
.agregar__btn-submit {
  width: 100%;
  height: 3.5rem;
}

/* PRODUCTOS */
.productos__icons-container {
  padding: 0.3rem;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  z-index: 99;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #0000004a;
  border-radius: 1rem;
}

:is(.starwars, .consolas, .diversos, .similares, .busqueda)
  .productos__icons-container {
  display: none;
}

.ocultar {
  display: none;
}

button.productos__delete {
  padding: 0;
  background-color: transparent;
}

.delete:hover,
.edit:hover {
  fill: var(--color-background-hover);
}

/* DETALLES */
.main-producto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.detalles {
  padding: 4rem 0 0;
}

.similares {
  padding-bottom: 4rem;
}

.detalles__container {
  width: 100%;
  max-width: 71rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.detalles__figure {
  width: 100%;
  max-width: 35rem;
  overflow: hidden;
}

.detalles__img {
  width: 100%;
  max-height: 25.1875rem;
  object-fit: cover;
}

.detalles__text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.detalles__nombre {
  font-size: 3.25rem;
  font-weight: 500;
}

.detalles__figure-mobile {
  display: none;
}

/* AGREGAR PRODUCTO */
.header__dropdown {
  display: inline-block;
  position: relative;
}

.header__dropdown-options {
  display: none;
  position: absolute;
  right: 0;
  overflow: auto;
  background-color: var(--color-white);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.header__dropdown:hover .header__dropdown-options {
  display: block;
}

.header__dropdown-options a {
  display: block;
  color: var(--color-blue);
  padding: 5px;
  text-decoration: none;
  padding: 20px 40px;
}

.header__dropdown-options a:hover {
  color: var(--color-blue-hover);
  background-color: var(--color-background-hover);
}

/* TABLA USUARIOS */
.usuarios__container-table {
  overflow-x: auto;
  width: 100%;
}

.usuarios__table {
  /* border-collapse: collapse; */
  width: 100%;
}

thead {
  font-weight: bold;
  background-color: #333;
  color: white;
}

td,
th {
  /* border: 1px solid #ddd; */
  text-align: left;
  padding: 8px;
}

.usuarios__button-control {
  display: flex;
  align-items: center;
}

.usuarios__edit {
  color: forestgreen;
  font-weight: 600;
}

.usuarios__delete {
  color: crimson;
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 1439px) {
  /* Oculto todos los cards */
  :is(.starwars, .consolas, .diversos, .similares) .productos__card {
    display: none;
  }
  /* Solo muestro los 4 primeros cards de las sections starwars, consolas y diversos */
  :is(.starwars, .consolas, .diversos, .similares)
    .productos__card:nth-child(-n + 4) {
    display: flex;
  }
}

@media (max-width: 1200px) {
  .detalles {
    padding: 4rem 2rem 0;
  }
  .similares {
    padding: 0 2rem 4rem;
  }
}

@media (max-width: 1024px) {
  .detalles {
    padding: 2rem 2rem 0;
    max-width: initial;
  }

  .similares {
    padding: 0 2rem 2rem;
  }

  h2,
  .detalles__nombre {
    font-size: 1.375rem;
  }

  .detalles__text {
    font-size: 0.875rem;
  }

  .detalles__figure {
    max-width: 15.875rem;
  }

  .detalles__img {
    max-height: 9.8125rem;
  }

  button,
  .header__login,
  .header__ver-consolas,
  .productos__agregar-producto,
  .header__btn-menu {
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.75rem 1rem;
  }

  .header__nav {
    padding: 1rem 2rem;
  }

  .header__a-logo > img {
    width: 6.25rem;
  }

  .header__nav-search {
    width: initial;
  }

  .header__login {
    width: 10.375rem;
  }

  .header__title-container {
    padding-left: 0;
  }

  .main,
  .info {
    padding: 2rem;
  }
  .login,
  .agregar {
    padding: 3rem 2rem;
  }

  .info__container-list {
    max-width: 11rem;
    flex-direction: column;
    gap: 1rem;
  }

  .productos__container-card {
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
    row-gap: 1rem;
  }
}

@media (max-width: 1200px) {
  .detalles__container {
    align-items: flex-start;
  }
  .detalles__img {
    max-height: 15rem;
  }
}

@media (max-width: 600px) {
  .main h3,
  .main a {
    font-size: 0.875rem;
  }

  .header__nav {
    position: relative;
  }

  .header__nav,
  .main,
  .info {
    padding: 1rem;
  }
  .login,
  .agregar {
    padding: 3rem 1rem;
  }

  .header__nav-search {
    display: none;
    width: 100%;
    border-radius: 0 0 1.25rem;
    position: absolute;
    top: 74px;
    right: 0;
  }
  .header__btn-search-mobile {
    padding: 0;
    display: block;
  }

  .header__login {
    width: 8.3125rem;
  }

  .header__banner {
    height: 12rem;
    padding: 1rem;
  }

  .header__title {
    font-size: 1.375rem;
  }

  .header__text {
    font-size: 0.875rem;
  }

  a[class$="ver-mas"]::before {
    width: 64%;
  }

  .info__container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .info__list {
    align-items: center;
  }

  .productos__agregar-producto-mobile {
    display: flex;
  }
  .productos__agregar-producto {
    display: none;
  }

  .detalles__container {
    flex-direction: column;
  }

  .detalles__figure {
    display: none;
  }

  .detalles__figure-mobile {
    display: block;
    max-height: 20rem;
    width: 100%;
    overflow: hidden;
  }

  .detalles__img-mobile {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
  }

  .main-producto {
    gap: 2rem;
  }

  .detalles {
    padding: 0;
  }

  .similares {
    padding: 0 1rem 1rem;
  }

  .detalles__text-container {
    padding: 0 1rem;
  }
}

@media (max-width: 375px) {
  .detalles__figure-mobile {
    max-height: 12rem;
  }

  .detalles__img-mobile {
    max-height: 12rem;
  }
}
