@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
  --font-family: "Raleway", sans-serif;
  --color-texto: rgb(70, 70, 70);
  --color-texto-hover: rgb(0, 0, 0);
  --color-fondo: rgb(245, 245, 245);
  --color-fondo-hover: rgb(221, 221, 221);
  --color-fondo-section: rgb(234, 242, 253);
  --color-white: rgb(255, 255, 255);
  --color-blue: rgb(42, 122, 228);
  --color-blue-hover: rgb(24 100 201);
  --color-label: rgb(162, 162, 162);
  --color-border-input: rgb(200, 200, 200);
  --color-warning: rgb(215, 16, 16);
  --color-valid: rgb(79, 183, 55);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-texto);
  background-color: var(--color-fondo);
}

section.about,
section.academic,
section.contacto {
  background-color: var(--color-fondo-section);
}

img,
svg,
figure {
  display: block;
  max-width: 100%;
}

ol,
ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 5.2rem;
}

h2 {
  font-size: 3.2rem;
}

.skills__title,
.hobbies__title,
.academic__title,
.experience__title {
  margin-bottom: 3.2rem;
  text-align: center;
}

h3,
.title__text--paragraph {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 500;
}

a {
  font-size: 1.6rem;
  color: var(--color-texto);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.5s ease;
}

a:hover {
  color: var(--color-texto-hover);
}

.skills__icon,
.hobbies__icon {
  color: var(--color-blue);
}

header.menu,
section.title,
section.experience {
  padding: 3.2rem 15.2rem;
}

section.about,
section.contacto {
  padding: 6.4rem 15.2rem;
}

section.skills {
  padding: 3.2rem 15.2rem 8.8rem;
}

section.hobbies {
  padding: 0 15.2rem 8.8rem;
}

section.academic {
  padding: 8.2rem 15.2rem;
}

/* Menu */
header.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.menu__list {
  display: flex;
  gap: 3.2rem;
}

.menu__title,
.skills__name,
.hobbies__name,
.menu__list-item:nth-last-child(1) a {
  font-size: 1.6rem;
  font-weight: 700;
}

/* Title */
.title__container {
  display: grid;
  grid-template-columns: auto minmax(auto, 36.8rem);
  grid-template-areas: "description figure";
  align-items: center;
  gap: 1.7rem;
}

.title__figure {
  grid-area: figure;
}

.title__description {
  grid-area: description;
}

.title__text--paragraph {
  margin-top: 2.4rem;
}

.title__network {
  margin-top: 2.65rem;
  display: flex;
  gap: 3.2rem;
}

/* About */
.about__container {
  max-width: 75.1rem;
  /* padding: 6.4rem 0; */
}

p.about__paragraph {
  margin: 1.6rem 0;
}

/* Skills y Hobbies */
.skills__container,
.hobbies__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.6rem, 1fr));
  gap: 3.2rem 1.6rem;
}

.skills__box,
.hobbies__box {
  height: 17.4rem;
  padding: 1.6rem;
  background-color: var(--color-white);
  display: flex;
  align-items: flex-end;
  transition: box-shadow 0.5s ease;
}

.skills__box:hover,
.hobbies__box:hover {
  -webkit-box-shadow: 0px 10px 13px -5px #333333,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -5px #333333, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.skills__box ul,
.hobbies__box ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Académica */
.academic__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 36.8rem));
  justify-content: center;
  gap: 1.6rem;
}

.academic__box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.academic__figure {
  height: 28.6rem;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.academic__text--date {
  margin-top: 0.8rem;
}

/* Experiencia */
.experience__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}

.experience__box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.experience__box:nth-child(even) {
  flex-direction: row-reverse;
}

.experience__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.experience__container-enlace {
  text-align: center;
  display: flex;
  gap: 1.6rem;
}

.experience__enlace--repo,
.experience__enlace--demo,
.contacto__submit {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.2rem 1.6rem;
  border: 1px solid var(--color-blue);
  transition: background-color 0.5s ease;
}

.experience__enlace--repo {
  color: var(--color-blue);
}

.experience__enlace--demo,
.contacto__submit {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.experience__enlace--repo:hover {
  color: var(--color-blue);
  background-color: var(--color-fondo-hover);
}

.experience__enlace--demo:hover,
.contacto__submit:hover {
  color: var(--color-white);
  background-color: var(--color-blue-hover);
}

/* Contacto */
.contacto__container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 1.6rem;
}

.contacto__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  position: relative;
}

.contacto__title {
  margin-bottom: 0.8rem;
}

.contacto__subtitle,
.contacto__subtext {
  font-size: 1.6rem;
  font-weight: 500;
}

.contacto__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
}

.contacto__input-wrapper {
  --padding: 1.2rem;
  position: relative;
  width: 100%;
}

.contacto__input,
.contacto__textarea {
  padding: 3.7rem 1.2rem 1.2rem;
  height: 5.6rem;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 0.4rem;
  border: none;
  border-bottom: 2px solid var(--color-border-input);
  outline: none;
}

.contacto__input {
  height: 5.6rem;
  padding: 3.7rem 1.2rem 1.2rem;
}

.contacto__textarea {
  height: 13.2rem;
  padding: 2.8rem 1.2rem;
  outline: none;
  resize: none;
}

.contacto__label,
.contacto__label-textarea {
  position: absolute;
  color: var(--color-label);
  top: 1.8rem;
  left: var(--padding);
  transition: all 0.2s ease-in;
}

.contacto__input:is(:focus),
.contacto__textarea:is(:focus) {
  border-bottom: 2px solid var(--color-blue);
}

.contacto__input:is(:focus, :valid) + .contacto__label,
.contacto__textarea:is(:focus, :valid) + .contacto__label-textarea {
  transform: translateY(calc(-1 * var(--padding) + 5px));
  font-size: 1.2rem;
  color: var(--color-blue);
}

/* Validaciones */

/* Invalido */
.input-container--invalid .contacto__input,
.input-container--invalid .contacto__textarea {
  border-bottom: 2px solid var(--color-warning);
}

.input-container--invalid > .contacto__input:is(:invalid) + .contacto__label,
.input-container--invalid
  > .contacto__textarea:is(:invalid)
  + .contacto__label-textarea {
  transform: translateY(calc(-1 * var(--padding) + 5px));
  font-size: 1.2rem;
  color: var(--color-warning);
}

.input-message-error {
  font-size: 1.2rem;
  visibility: hidden;
  margin-top: 1rem;
  padding-left: 1.2rem;
}

.input-container--invalid .input-message-error {
  color: var(--color-warning);
  visibility: visible;
}

/* Valido */
.contacto__input:is(:valid),
.contacto__textarea:is(:valid) {
  border-bottom: 2px solid var(--color-valid);
}

.contacto__input:is(:valid) + .contacto__label,
.contacto__textarea:is(:valid) + .contacto__label-textarea {
  color: var(--color-valid);
}

/* Footer */
footer.footer {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
  padding: 3.2rem;
  background-color: var(--color-white);
}

@media (max-width: 1330px) {
  /* Experiencia */
  .experience__box,
  .experience__box:nth-child(even) {
    flex-direction: column;
    max-width: 752px;
  }

  .experience__info:nth-child(even) {
    align-self: flex-start;
  }
}

@media (max-width: 1186px) {
  h1 {
    font-size: 3.2rem;
  }

  /* Menú */
  .menu__list-item:not(:last-child) {
    display: none;
  }

  /* Title */
  .title__text--paragraph,
  .title__network {
    margin-top: 1rem;
  }

  /* Contacto */
  .contacto__container {
    grid-template-columns: 1fr;
  }

  .contacto__figure {
    display: none;
  }
}

/* Tablet */
@media (max-width: 1000px) {
  body,
  h4 {
    font-size: 1.4rem;
  }

  h1,
  h2 {
    font-size: 2.2rem;
  }

  h3,
  .title__text--paragraph {
    font-size: 1.6rem;
  }

  section.title,
  section.about,
  section.skills,
  section.hobbies,
  section.academic,
  section.experience,
  section.contacto {
    padding: 3.2rem;
  }

  /* Menú */
  header.menu {
    padding: 1.6rem 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Title */
  .title__container {
    grid-template-columns: auto minmax(auto, 14.6rem);
    gap: 3.8rem;
  }

  /* Académica */
  .academic__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 22.4rem));
    justify-content: center;
    gap: 1.6rem;
  }

  .academic__figure {
    height: 11.8rem;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .academic__img {
    width: 50%;
  }

  /* Skills y Hobbies */
  .skills__container,
  .hobbies__container {
    grid-template-columns: repeat(auto-fit, minmax(22.4rem, 1fr));
  }

  .skills__box,
  .hobbies__box {
    height: 11.8rem;
  }
}

/* Mobile */
@media (max-width: 700px) {
  header.menu,
  section.title,
  section.about,
  section.skills,
  section.hobbies {
    padding: 1.6rem;
  }

  a,
  .experience__enlace--repo,
  .experience__enlace--demo,
  .contacto__submit {
    font-size: 1.4rem;
    font-weight: 600;
  }

  /* Menú */
  .menu__list-item:nth-last-child(1) a {
    font-size: 1.4rem;
    font-weight: 400;
  }

  /* Title */
  .title__container {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "figure"
      "description";
    gap: 1.6rem;
  }

  .title__figure {
    width: 9.8rem;
  }

  .title__text--paragraph,
  .title__network {
    margin-top: 1.6rem;
  }

  .title__text--paragraph {
    font-size: 1.4rem;
  }

  /* Académica */
  .academic__container {
    grid-template-columns: 1fr;
  }

  .academic__img {
    width: 27%;
  }
}

@media (max-width: 425px) {
  /* Title */
  .title__network {
    gap: 0;
    justify-content: space-between;
  }

  /* Skills y Hobbies */
  .skills__container,
  .hobbies__container {
    grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr));
  }

  /* Académica */
  .academic__img {
    width: 45%;
  }
}
