@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --fs: "Josefin Sans", sans-serif;
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --bg-1: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 245, 245, 1) 100%
  );
  --bg-2: linear-gradient(
    135deg,
    rgba(248, 191, 191, 1) 0%,
    rgba(238, 140, 140, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fs);
  font-size: 1.6rem;
  min-height: 100vh;
  background: url(../images/bg-pattern-desktop.svg), var(--bg-1);
  background-repeat: no-repeat;
}

img,
svg,
figure {
  display: block;
}

.main {
  display: grid;
  grid-template-columns: 830px 610px;
  grid-template-rows: 24.3rem auto;
  grid-template-areas:
    "logo portada"
    "form portada";
}

/* LOGO */
.logo {
  grid-area: logo;
  padding: 7rem 16rem 14rem;
}

/* PORTADA */
.portada {
  grid-area: portada;
}

.portada__figure-mobile {
  display: none;
}

/* FORM */
.form {
  grid-area: form;
  padding: 0 22rem 14rem 16rem;
}

.form__h1 {
  font-size: 6rem;
  font-weight: 600;
  color: var(--dark-grayish-red);
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  line-height: 1.1;
  margin-bottom: 2.5rem;
}

.form__span {
  font-weight: 300;
  color: var(--desaturated-red);
}

.form__p {
  color: var(--desaturated-red);
  line-height: 1.6;
  margin-bottom: 4rem;
}

.form__container-input {
  position: relative;
  height: 5.6rem;
  width: 44.5rem;
}

.form__input {
  border-radius: 5rem;
  width: 44.5rem;
  height: 5.6rem;
  border-color: hsl(0, 36%, 70%, 0.7);
  border-style: solid;
  border-width: 1px;
  position: relative;
  background: transparent;
}

.form__input::placeholder {
  color: hsl(0, 36%, 70%, 0.5);
  font-family: var(--fs);
  font-size: 1.6rem;
  padding-left: 3rem;
}

.form__submit {
  width: 10rem;
  height: 5.6rem;
  border-radius: 5rem;
  border-width: 0;
  background: url(../images/icon-arrow.svg), var(--bg-2);
  background-repeat: no-repeat;
  background-position: 52%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0px 15px 30px 0px rgba(206, 151, 151, 0.6);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(206, 151, 151, 0.6);
  -moz-box-shadow: 0px 15px 30px 0px rgba(206, 151, 151, 0.6);
  cursor: pointer;
}

.form__input:active {
  border-width: 2px;
  border-color: var(--soft-red);
  background: url(../images/icon-error.svg) 30rem center no-repeat, transparent;
}

.form__error {
  display: none;
  margin: 1rem 0 0 3rem;
  font-size: 1.4rem;
  color: var(--soft-red);
}

.form__submit:hover {
  background: url(../images/icon-arrow.svg), rgba(248, 191, 191, 0.8);
  background-repeat: no-repeat;
  background-position: 52%;
  box-shadow: 0px 15px 30px 0px rgba(206, 151, 151, 0.8);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(206, 151, 151, 0.8);
  -moz-box-shadow: 0px 15px 30px 0px rgba(206, 151, 151, 0.8);
  cursor: pointer;
}

@media (max-width: 1023px) {
  body {
    background: none;
    display: grid;
    place-content: center;
  }

  .main {
    display: grid;
    grid-template-columns: 37.5rem;
    grid-template-rows: 8.4rem 25rem 46.6rem;
    grid-template-areas:
      "logo"
      "portada"
      "form";
    background: var(--bg-1);
  }

  .logo {
    padding: 3rem;
  }
  .logo__img {
    height: 2.3rem;
    width: auto;
  }

  .portada__figure-mobile {
    display: block;
  }
  .portada__figure-desktop {
    display: none;
  }

  .form {
    padding: 6.6rem 3.2rem;
    text-align: center;
  }
  .form__h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .form__p {
    font-size: 1.4rem;
    margin-bottom: 3.5rem;
  }
  .form__container-input {
    width: 31.1rem;
    height: 4.8rem;
  }
  .form__input {
    width: 31.1rem;
    height: 4.8rem;
  }
  .form__input::placeholder {
    font-size: 1.4rem;
  }
  .form__submit {
    width: 6.4rem;
    height: 4.8rem;
  }
}
