.lista-opciones {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.lista-opciones:before {
  position: absolute;
  top: 60%;
  right: 20px;
  content: " ";
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: rgba(0, 0, 0, 0.25) transparent transparent transparent;
  pointer-events: none;
}

.lista-opciones select {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #fff;
  padding: 30px 20px;
  border: none;
  outline-color: #6278f7;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
}
