@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

:root {
  /* Primary */
  --ff-londrina: "Londrina Solid", cursive;
  --white: hsl(0, 0%, 100%);
  --pale-pink: hsl(0deg 35% 84%);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-londrina);
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: var(--white);
  background-color: var(--pale-pink);
  display: grid;
  place-content: center;
}

img,
svg,
figure {
  display: block;
}

.main {
  position: relative;
  max-width: 900px;
}

.top {
  position: relative;
  margin-bottom: -12%;
  left: -15px;
  width: 101%;
  z-index: 2;
}

.top__image {
  width: 105%;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 4%;
  justify-content: space-between;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 80%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.content {
  position: relative;
  background: #ffc7a3;
  background: linear-gradient(90deg, #d57589 0%, #ffc7a3 100%);
  border-radius: min(5vw, 50px);
  padding: 12% 5% 5%;
  box-shadow: -20px 20px 30px 0px rgba(75, 6, 50, 0.5);
  -webkit-box-shadow: -20px 20px 30px 0px rgba(75, 6, 50, 0.5);
  -moz-box-shadow: -20px 20px 30px 0px rgba(75, 6, 50, 0.5);
}

/* .content::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #4b0632;
  width: 100%;
  height: 100%;
  transform: translate(-10%, 10%);
  filter: blur(40px);
  mix-blend-mode: overlay;
  z-index: -1;
} */

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: min(3vw, 30px);
}

.item-holder {
  position: relative;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px 5px 15px 15px;
  box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.item-holder::after,
.item-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
  display: block;
}

.item-holder::after {
  height: 100%;
  width: 120%;
  transform-origin: top left;
  transform: translate(15px, 0) rotate(45deg);
  filter: blur(5px);
  mix-blend-mode: multiply;
  background: linear-gradient(
    180deg,
    rgba(17, 59, 81, 1) 0%,
    rgba(17, 59, 81, 0.4) 30%,
    rgba(17, 59, 81, 0) 50%
  );
  opacity: 0.2;
}

.item-holder::before {
  transform: translate(-10%, 10%);
  mix-blend-mode: overlay;
  filter: blur(20px);
  z-index: 1;
  opacity: 0.8;
}

.item-holder img {
  width: 100%;
  flex: 1;
  object-fit: contain;
}

.item-holder .label {
  padding: 2rem;
  text-transform: uppercase;
}

.item-holder:nth-child(1) .item {
  background-color: #f9e2d2;
  background-image: linear-gradient(90deg, #ecd6d8 0%, #f9e2d2 100%);
}

.item-holder:nth-child(2) .item,
.item-holder:nth-child(7) .item {
  background-color: #e4b3fa;
  background-image: linear-gradient(90deg, #bf92f1 0%, #e4b3fa 100%);
}

.item-holder:nth-child(3) .item {
  background-color: #9fffd6;
  background-image: linear-gradient(90deg, #69e7b7 0%, #9fffd6 100%);
}

.item-holder:nth-child(4) .item,
.item-holder:nth-child(8) .item {
  background-color: #fdf5d2;
  background-image: linear-gradient(90deg, #febea7 0%, #fdf5d2 100%);
}

.item-holder:nth-child(5) .item {
  background-color: #ff8e80;
  background-image: linear-gradient(90deg, #fd556b 0%, #ff8e80 100%);
}

.item-holder:nth-child(6) .item {
  background-color: #ffd054;
  background-image: linear-gradient(90deg, #f89e27 0%, #ffd054 100%);
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
