@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --tomato: hsl(4, 100%, 67%);
  --tomato-background: hsla(4, 100%, 67%, 0.17);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --gradient-button: linear-gradient(
    90deg,
    rgba(255, 83, 123, 1) 0%,
    rgba(254, 104, 67, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--charcoal-grey);
  background-color: var(--charcoal-grey);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

h1,
h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 3rem;
}

img,
svg,
figure {
  display: block;
}

.main {
  display: grid;
  grid-template-columns: 375px;
}

button {
  position: relative;
  width: 100%;
  height: 5.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark-slate-grey);
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}

button:hover {
  background: var(--gradient-button);
  z-index: 0;
}

button:hover::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--gradient-button);
  transform: translate3d(0px, 10px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
  z-index: -1;
}

.form,
.message {
  background-color: var(--white);
}

.form__container {
  padding: 4rem 2rem;
}

.form__p {
  margin-bottom: 2.5rem;
}

.form__ul .form__li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.form__ul .form__li::before {
  content: url(assets/images/icon-list.svg);
  margin-right: 1.5rem;
  margin-top: 0.2rem;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.8rem;
  margin-top: 3.5rem;
}

span.error {
  display: none;
  float: right;
  color: var(--tomato);
}

.form__input {
  width: 100%;
  height: 5.6rem;
  font-size: 1.6rem;
  border: 1px solid var(--grey);
  border-radius: 0.8rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.form__input::placeholder {
  color: var(--grey);
}

.form__input.invalid {
  color: var(--tomato);
  background-color: var(--tomato-background);
  border: 1px solid var(--tomato);
}

.form__input.invalid::placeholder {
  color: var(--tomato);
}

.message {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message__container {
  margin-top: 10rem;
}

.message__success {
  margin-bottom: 4rem;
}

.message__email {
  font-weight: 700;
}

.message__button {
  margin-top: 25rem;
}
