.orgSection {
  padding: 80px 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.orgSection h2 {
  color: #6278f7;
  padding-bottom: 24px;
  border-bottom: 4px solid #6278f7;
}

.imgAdd {
  position: absolute;
  right: 130px;
  cursor: pointer;
  filter: drop-shadow(0px 3px 2px #bbbbbb);
}

@media (max-width: 900px) {
  .orgSection {
    flex-direction: column-reverse;
  }
  .orgSection,
  .imgAdd {
    position: initial;
  }
  .imgAdd {
    width: 70px;
  }
}

@media (max-width: 768px) {
  .orgSection {
    padding: 60px 40px;
  }
}

@media (max-width: 540px) {
  .orgSection {
    padding: 60px 20px;
  }
}

@media (max-width: 380px) {
  .orgSection h2 {
    font-size: 32px;
    padding-bottom: 12px;
  }
}
