.formulario {
  padding: 80px 155px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.formulario form {
  width: 100%;
  background: #f6f6f6;
  padding: 35px 95px 28px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
}

.formulario h3 {
  margin-bottom: 16px;
}

@media (max-width: 900px) {
  .formulario {
    padding: 40px 40px 0;
  }
  .formulario form {
    padding: 40px;
    align-items: center;
  }
  .formulario h3 {
    font-size: 28px;
  }
}

@media (max-width: 540px) {
  .formulario {
    padding: 0;
  }
  .formulario form {
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
  }
  .formulario h3 {
    font-size: 24px;
  }
}
