.formulario {
  margin: 80px 0;
  display: flex;
  justify-content: center;
}

.formulario form {
  max-width: 80%;
  background: #f6f6f6;
  padding: 35px 95px 28px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
}

.formulario h2 {
  font-size: 32px;
  font-weight: 400;
}
