.equipo {
  width: 100%;
  padding: 32px 155px 0;
  text-align: center;
  position: relative;
}

.inputColor {
  position: absolute;
  right: 32px;
}

.equipo h3 {
  padding: 8px;
  border-bottom: 4px solid;
  display: inline-block;
}

.colaboradores {
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 24px;
}
