.equipo {
  width: 100%;
  padding: 40px 155px;
  text-align: center;
  position: relative;
}

.inputColor {
  position: absolute;
  right: 32px;
}

.equipo h3 {
  padding: 8px;
  border-bottom: 4px solid;
  display: inline-block;
}

.colaboradores {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 24px 30px;
}

@media (max-width: 900px) {
  .equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputColor {
    position: initial;
  }
}

@media (max-width: 860px) {
  .equipo {
    padding: 40px;
  }
}

@media (max-width: 425px) {
  .equipo {
    padding: 20px;
  }
  .equipo h3 {
    font-size: 28px;
  }
}

@media (max-width: 350px) {
  .equipo h3 {
    font-size: 24px;
  }
}
