@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--stone-600);
  min-height: 100dvh;
  background-color: var(--stone-100);
  display: grid;
  place-content: center;
}

img,
figure {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1.recipe__title,
.recipe__section-title {
  font-family: "Young Serif", serif;
}

.division {
  color: var(--stone-150);
  background-color: var(--stone-150);
  height: 1px;
  border: none;
}

.recipe {
  background-color: var(--white);
  width: 100%;
  max-width: 736px;
  display: flex;
  flex-direction: column;
}

.recipe__image {
  width: 100%;
  max-width: 736px;
}

.recipe__body {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1.recipe__title {
  font-size: 3.5rem;
  color: var(--stone-900);
  line-height: 1;
}

.recipe__section-title {
  font-size: 2.8rem;
  color: var(--brown-800);
}
.recipe__section-title--small {
  font-size: 2rem;
  font-weight: 600;
  color: var(--rose-800);
}

.recipe__preparation-time {
  background-color: var(--rose-50);
  padding: 24px;
  border-radius: 10px;
}

ul,
ol {
  padding: 20px 0 0 22px;
}
ul > li::marker,
ol > li::marker {
  font-weight: 700;
  color: var(--brown-800);
}
ul.recipe__time-list > li.recipe__time-item::marker {
  color: var(--rose-800);
}
ul.recipe__ingredients-list > li.recipe__ingredient-item::marker {
  color: var(--brown-800);
}
li {
  padding-inline-start: 18px;
}
li:not(:last-child) {
  margin-bottom: 10px;
}

.recipe__time-label,
.recipe__instruction-step {
  font-weight: 700;
}

.recipe__nutrition-description {
  margin-block: 20px;
}

.recipe__nutrition-table {
  border-collapse: collapse;
  width: 100%;
}

.recipe__nutrition-label,
.recipe__nutrition-value {
  padding: 12px;
  text-align: left;
}

.recipe__nutrition-label {
  padding-left: 30px;
  width: 150px;
}

.recipe__nutrition-value {
  color: var(--brown-800);
  font-weight: 700;
}

.recipe__nutrition-row:not(:last-child) {
  border-bottom: 1px solid var(--stone-150);
}

@media (min-width: 736px) {
  .recipe {
    border-radius: 20px;
    padding: 40px;
    margin-block: 40px;
    gap: 40px;
  }

  .recipe__image {
    width: 656px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }

  .recipe__body {
    padding: 0;
  }

  h1.recipe__title {
    font-size: 4rem;
  }

  .recipe__preparation-time {
    padding: 30px;
  }

  .recipe__nutrition-label {
    width: 330px;
  }
}

@media (min-width: 425px) and (max-width: 735px) {
  .recipe__nutrition-label {
    width: initial;
  }
}
