@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--stone-600);
  min-height: 100dvh;
  background-color: var(--stone-100);
  display: grid;
  place-content: center;
}

img,
svg,
figure {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: "Young Serif", serif;
}

.recipe {
  background-color: var(--white);
  max-width: 736px;
  width: 100%;
  padding: 40px;
  border-radius: 20px;
}

.recipe__image {
  border-radius: 12px;
}

.recipe__title {
  font-size: 4rem;
  color: var(--stone-900);
  margin-block: 20px;
}
